.btn-one,
.btn-two {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.btn-one {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

.btn-two {
    background-color: #ffff00;
}
